body {
  background: #f4f4f4;
  font-family: 'Overpass Mono', sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0 0 50px 0;
}

#root {
  text-align: center;
}


/*FALLBACKS*/
article {
  display: block;
}

/*GLOBAL*/
.hidden {
  display: none;
}

button {
  font-family: 'Overpass Mono', sans-serif;
  font-size: 20px;
  display: block;
  margin: 20px auto;
  border: none;
  border-radius: 25px;
  background-color: rgba(111, 157, 172, 1);
  color: rgba(234, 206, 162, 1);
  height: 50px;
  padding: 0 20px;
}

.copyright-notice {
  margin-top: 100px;
  color: rgba(111, 157, 172, 0.5)
}

/*APP*/
.App {
  text-align: center;
}

a {
  text-decoration: none;
}

header {
  background-color: rgba(98, 158, 174, 1);
  margin: 0;
  padding: 10px 0 30px 0;
}

h1 {
  margin: 15px 0;
  text-align: center;
  color: #EDCD9C;
  font-size: 60px;
  font-weight: 700;
}

.logo-o {
  width: 35px;
  margin-left: 5px;
}

.logo-i {
  color: #FFF8F3;
}

/*NAVBAR*/
ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}

li {
  width: 200px;
  text-align: center;
}

li a {
  text-decoration: none;
  color: #EDCD9C;
  font-size: 30px;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
}

li:hover a {
  font-weight: 700;
  border-bottom: 4px solid rgba(237, 205, 156, 1);
}



/*INSTRUCTIONS*/
.instructions-howto {
  color: rgba(111, 157, 172, 1);
}

.instructions-img {
  width: 60%;
  margin: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.instruction-list {
  -webkit-margin-start: 25%;
}

.instruction-list li {
  width: 100%;
  color: rgba(111, 157, 172, 1);
  text-align: left;
}




/*PLAY*/
.play {
  display: flex;
  justify-content: space-around;
}



/*PICK EMOTION*/
.pick-emotion {
  width: 30vw;
}

.pick-title {
  color: rgba(111, 157, 172, 1);
}

.emotion {
  background-color: rgba(237, 205, 156, 0.4);
  color: #FFF8F3;
  width: 70%;
}

.emotion:hover {
  background-color: rgba(237, 205, 156, 1);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.picked {
  background-color: rgba(237, 205, 156, 1);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}



/*IMAGE CAPTURE*/
.image-capture {
  width: 30vw;
  text-align: center;
  position: relative;
}

video {
  border: 10px solid #629EAE;
  border-radius: 50px;
  object-fit: cover;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.face-oval {
  width: 150px;
  height: 200px;
  border: 2px dashed rgba(237, 205, 156, 0.5);
  -moz-border-radius: 70px / 90px;
	-webkit-border-radius: 70px / 90px;
	border-radius: 70px / 90px;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}

.start-capture:hover, .take-picture:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}


/*EMOTION RESULTS*/
.result-img {
  margin: 20px;
  border: 10px solid #629EAE;
  border-radius: 50px;
}

.results {
  color: rgba(111, 157, 172, 1);
}

.emotion-results {
  width: 30vw;
}

.no-results {
  color: rgba(111, 157, 172, 1);
}

.emotion-result {
  color: rgba(237, 205, 156, 1);
  margin: 0;
}

.emotion-score {
  color: rgba(111, 157, 172, 1);
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  margin: 0 0 20px 0;
}



/*LEARN SECTION*/
.emotion-learning {
  color: rgba(111, 157, 172, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.emotion-learning ul {
  display: block;
  list-style: initial;
  width: 100%;
  -webkit-padding-start: 80px;
}

.emotion-learning li {
  text-align: left;
  width: 90%;
}

.emotion-about {
  width: 45%;
}

.about {
  color: rgba(111, 157, 172, 1);
  width: 60%;
  margin: auto;
}

.about p {
  text-align: left;
}

.about a {
  font-size: 16px;
}

.about ul {
  display: block;
  list-style: initial;
  width: 100%;
}

.about li {
  text-align: left;
  width: 90%;
}
