body {
  background: #f4f4f4;
  font-family: 'Overpass Mono', sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

#root {
  text-align: center;
}


/*FALLBACKS*/
article {
  display: block;
}

/*GLOBAL*/
.hidden {
  display: none;
}

button {
  font-family: 'Overpass Mono', sans-serif;
  font-size: 20px;
  display: block;
  margin: 20px auto;
  border: none;
  border-radius: 25px;
  background-color: rgba(111, 157, 172, 1);
  color: rgba(234, 206, 162, 1);
  height: 50px;
  padding: 0 20px;
}

/*APP*/
.App {
  text-align: center;
}

a {
  text-decoration: none;
}

header {
  background-color: #629EAE;
  margin: 0;
  padding: 10px 0 30px 0;
}

h1 {
  margin: 15px 0;
  text-align: center;
  color: #EDCD9C;
  font-size: 60px;
  font-weight: 700;
}

.logo-o {
  width: 35px;
  margin-left: 5px;
}

.logo-i {
  color: #FFF8F3;
}

/*NAVBAR*/
ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}

li {
  width: 200px;
  text-align: center;
}

li a {
  text-decoration: none;
  color: #EDCD9C;
  font-size: 30px;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
}

li:hover a {
  font-weight: 700;
  border-bottom: 4px solid rgba(237, 205, 156, 1);
}


/*PLAY*/
.play {
  display: flex;
  justify-content: space-between;
}


/*IMAGE CAPTURE*/
.image-capture {
  text-align: center;
  position: relative;
}

video {
  border: 10px solid #629EAE;
  border-radius: 50px;
  object-fit: cover;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.face-oval {
  width: 150px;
  height: 200px;
  border: 2px dashed rgba(237, 205, 156, 0.5);
  -moz-border-radius: 70px / 90px;
	-webkit-border-radius: 70px / 90px;
	border-radius: 70px / 90px;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}

.image-capture img {
  display: none;
}
